<h1>Gear Recycling</h1>
<%= form_for @recycle, url: { action: 'submit_recycle' } do |f| %>
    <fieldset>
      <%= f.hidden_field :action_type_id %>

      <div class="row">
        <div class="form-group col-lg-4">
          <%= f.label :owner, class: 'control-label' %>
          <%= f.text_field :owner, class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label :net_type, class: 'control-label' %>
          <%= f.collection_select :net_type_id, NetType.all, :id, :to_s, {}, class: 'form-control' %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label :region, class: 'control-label' %>
          <%= f.collection_select :region_id, Region.all.order(:region_name), :id, :to_s, {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
