<h1>New gear purchase</h1>
<%= form_for @sold, url: { action: 'submit' } do |f| %>
    <fieldset>
      <%= f.hidden_field :action_type_id %>

      <div class="row">
        <div class="form-group col-lg-4">
          <%= f.label :owner, class: 'control-label' %>
          <%= f.text_field :owner, class: 'form-control' %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label :net_type, class: 'control-label' %>
          <%= f.collection_select :net_type_id, NetType.all, :id, :to_s, {}, class: 'form-control' %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label :region, class: 'control-label' %>
          <%= f.collection_select :region_id, Region.all.order(:region_name), :id, :to_s, {}, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-4">
          <%= f.label :reason, 'Reason for purchase', class: 'control-label' %>
          <%= f.collection_select :reason_id, Reason.all, :id, :to_s, {}, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-4">
          <%= f.label_tag :recycling_credit_code %>
          <%= f.text_field_tag :recycling_credit_code, '', class: 'form-control' %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label_tag :disposal_receipt %>
          <%= f.text_field_tag :disposal_receipt, '', class: 'form-control' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
