<h1>New gear purchase</h1>
<%= form_for @purchase, url: { action: 'submit' } do |f| %>
    <fieldset>
      <%= f.hidden_field :action_type %>

      <div class="control-group">
        <%= f.label :owner, class: 'control-label' %>
        <%= f.text_field :owner %>
      </div>

      <div class="control-group">
        <%= f.label :net_type, class: 'control-label' %>
        <%= f.select :net_type, @net_types %>
      </div>

      <div class="control-group">
        <%= f.label :region, class: 'control-label' %>
        <%= f.select :region, @regions %>
      </div>

      <div class="control-group">
        <%= f.label :reason, class: 'control-label' %>
        <%= f.select :reason, @reasons %>
      </div>

      <div class="control-group">
        <%= f.label_tag :recycling_credit_code %>
        <%= f.text_field_tag :recycling_credit_code %>
      </div>

      <div class="control-group">
        <%= f.label_tag :disposal_receipt %>
        <%= f.text_field_tag :disposal_receipt %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
